.Zag{
	position: absolute;
width: 1420px;
height: 5200px;
left: 250px;
top: 200px;

background: #BDB76B;
}
.Logo{
	position: absolute;
width: 1420px;
height: 145px;
left: 250px;
top: 56px;

background: #C2C2C2;
}


.Zag2{
	font-family: cursive;
	color: black;
	position: absolute;
	top: 220px;
	left: 620px;
	
}


.Sod{
	position: absolute;
	top: 300px;
	left: 300px;
	font-family: cursive;
}

.Eng{
	position: absolute;
	left: 300px;
	top: 4400px;
	font-family: cursive;
	
	
}
.Eng2{
	position: absolute;
	left: 780px;
	top: 4380px;
}


